{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>



<p> Add new key:

<dl>
<dt>Key:
<dd><input type=text size=30 name=title>
<dt>Response:
<dd><textarea name=text rows=5 cols=40></textarea>
<dd><input type=submit value=Add>
</dl>
</form>
{% endif %}
<table>
<tr>
  <th>Key</th>
  <th>Response XML</th>
  <th>Action</th>
</tr>
{% for entry in entries %}
<tr>
      <td>{{ entry.key }}</td>
      <td>{{ entry.response|safe }}</td>
      <td><a href="{{ url_for('edit_entry', key = entry.key) }}">Edit</a><br>
           <a href="{{ url_for('get_history', key = entry.key) }}">View history</a>
      </td>
</tr>
{% else %}
</table>
{% endfor %}
<!-- </ul> -->
{% endblock %}
