{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<table>
<tr>
  <th>Key</th>
  <th>Time</th>
  <th>Method</th>
  <th>Request</th>
  <th>Response</th>
</tr>
{% for entry in entries %}
<tr>
    <td>{{ entry.key }}</td>
    <td>{{ entry.htime }}</td>
    <td>{{ entry.method }}</td>
    <td>{{ entry.request }}</td>
    <td>{{ entry.response }}</td>
</tr>
{% endfor %}
{% endif %}
<form method=get action="{{ url_for('show_entries') }}" class=add-entry>
    <input type=submit value=Back>
{% endblock %}
